---
import { Icon } from 'astro-icon/components'
import { BrokerForm } from '~/components/BrokerForm'
import Layout from '~/layouts/Layout.astro'

const { session } = Astro.locals
if (!session?.userId) {
  return Astro.redirect('/auth?redirect=/brokers/new')
}
---

<Layout title='New Broker'>
  <main class='container mx-auto px-4 py-8'>
    <nav class='flex gap-2' role='toolbar'>
      <a href='/brokers' class='mr-4 inline-flex items-center text-zinc-300 hover:text-zinc-200'>
        <Icon name='back' class='mr-2 inline size-6' />
        Back
      </a>
    </nav>

    <section class='mx-auto max-w-2xl rounded-lg border border-zinc-800 bg-zinc-900/50 p-6'>
      <h1 class='mb-4 text-center text-3xl font-bold'>Add New Broker</h1>
      <BrokerForm client:load />
    </section>
  </main>
</Layout>
