---
import { actions, isInputError } from 'astro:actions'
import Button from './ui/Button'
import FormError from './ui/FormError'
import Input from './ui/Input'

interface Props {
  mode: 'login' | 'signup'
}

const { mode } = Astro.props

// Determine the correct action based on mode
const action = mode === 'login' ? actions.login : actions.signup

// Check if there's a result from a previous form submission
const result = Astro.getActionResult(action)
const formError = result?.error?.message
const inputErrors = isInputError(result?.error) ? result.error.fields : {}
---

<form method='POST' action={action} class='mx-auto mt-6 grid w-full max-w-md gap-4'>
  {formError && !isInputError(result.error) && <FormError client:load message={formError} />}

  <Input client:load name='username' label='Username' required error={inputErrors.username} />

  <Input
    client:load
    name='password'
    type='password'
    label='Password'
    required
    error={inputErrors.password}
  />

  <div class='flex items-center justify-between'>
    <Button client:load type='submit'>
      {mode === 'login' ? 'Login' : 'Sign Up'}
    </Button>

    <a
      href={`/auth?mode=${mode === 'login' ? 'signup' : 'login'}`}
      class='font-semibold text-amber-200 hover:text-amber-300'
    >
      {mode === 'login' ? 'Need an account?' : 'Already have an account?'}
    </a>
  </div>
</form>
