<section class='flex flex-col gap-6 text-center'>
  <h1 class='text-4xl font-bold'>Welcome to Astro Trading Journal!</h1>
  <p class='p-4 text-gray-200'>A view into my daily trades and investments on the markets.</p>
</section>
